gNmap (pablox.io)
{{ range .Hosts }}
scan report for {{ . }}

PORT -- STATE {{ range .Ports }}
{{ . }} {{ end }}
MAC Address: XYZ [WIP]
{{ end }}
gNmap done: {{ len .Hosts }} IP addresses scanned in {{ since .StartTime }}
